<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Phonotext{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header class="app-header">
        <h1>Phonotext</h1>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="app-footer">
        <p>&copy; 2026 Проект Phonotext.</p>
    </footer>

    <script id="initial-data" type="application/json">
        {{ data | tojson if data else '{}' }}
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>