{% extends "base.html" %}

{% block content %}
<form class="top-bar" method="POST">
    <textarea id="user-text" name="user_text" placeholder="Введите текст здесь..."></textarea>
    <button class="analyze-btn">Отправить на анализ</button>
</form>

<div class="main-layout">
    <div id="text-panel">
        <div id="text-container"></div>
    </div>

    <div id="data-panel">
        <table id="repeats-table">
            <thead>
                <tr><th>Звук</th><th>Раз</th><th>Сила</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}